@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}
.carousel-indicators button{
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
}
.carousel-indicators{
  align-items: center;
}
.carousel-indicators .active{
  width: 15px !important;
  height: 15px !important;
}